
@{
    ViewBag.Title = "Add Coupon";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="product-listing">
            <div class="title">
                <h2>Add Coupon</h2>
                <a href="#" class="btn">Save Coupon</a>
            </div>
            <div class="formBx">
                <br />
                <h2>New Coupon</h2>
                <form>
                    <div class="inputBx">
                        <span>Coupon Code</span>
                        <input type="text" name="">
                    </div>
                    <div class="inputBx">
                        <span>Coupon Name</span>
                        <input type="text" name="">
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-select">
                            <span class="select">Select Category</span>
                        </div>
                        <div class="dropdown-list">
                            <div class="dropdown-list__item">Shirt</div>
                            <div class="dropdown-list__item">Dress</div>
                            <div class="dropdown-list__item">Shorts</div>
                            <div class="dropdown-list__item">Jeans</div>
                            <div class="dropdown-list__item">Swimwear</div>
                        </div>
                    </div>
                    <div class="inputBx">
                        <span>Discount Percentage</span>
                        <input type="text" name="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

