
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="product-listing">
            <div class="title">
                <h2>Add Product</h2>
                <a href="#" class="btn">Save Product</a>
            </div>
            <div class="formBx">
                <br/>
                <h2>New Product</h2>
                <form>
                    <div class="inputBx">
                        <span>Name</span>
                        <input type="text" name="">
                    </div>
                    <div class="inputBx">
                        <span>Description</span>
                        <input type="text" name="">
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-select">
                            <span class="select">Select Category</span>
                        </div>
                        <div class="dropdown-list">
                            <div class="dropdown-list__item">Shirt</div>
                            <div class="dropdown-list__item">Dress</div>
                            <div class="dropdown-list__item">Shorts</div>
                            <div class="dropdown-list__item">Jeans</div>
                            <div class="dropdown-list__item">Swimwear</div>
                        </div>
                    </div>
                    <div class="inputBx">
                        <span>Price</span>
                        <input type="text" name="">
                    </div>
                    <h3>Image</h3>
                    <div class="inputBx">
                        <button type="submit" value="Choose File" name=""><span>Choose File</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
           


