
@{
    ViewBag.Title = "Manage Coupons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="row justify-content-center">
            <div class="title">
                <h2>Coupons</h2>
                <a href="#" class="btn">Add New Coupon</a>
            </div>
            <table>
                <tr>
                    <th>Coupon Code</th>
                    <th>Event Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Discount Price</th>
                    <th>Category</th>
                </tr>
                <tr>
                    <td>VAL14</td>
                    <td>Valentines' Day Sale</td>
                    <td>February 1, 2022</td>
                    <td>February 15, 2022</td>
                    <td>15%</td>
                    <td>Dresses</td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td>XMAS25</td>
                    <td>Christmas Sale</td>
                    <td>December 1, 2022</td>
                    <td>December 26, 2022</td>
                    <td>20%</td>
                    <td>Tops</td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>






