
@{
    ViewBag.Title = "Manage Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="product-listing">
            <div class="title">
                <h2>Products</h2>
                <a href="#" class="btn">Add New Product</a>
            </div>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                <tr>

                    <td><img src="~/Media/admin/short1.jfif" alt=""></td>
                    <td>Men's Shorts (Blue)</td>
                    <td>$39.99</td>
                    <td>369</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>

                </tr>
                <tr>
                    <td><img src="~/Media/admin/short2.jpg" alt=""></td>
                    <td>Men's Short (Black)</td>
                    <td>$39.99</td>
                    <td>278</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short3.jfif" alt=""></td>
                    <td>Men's Short (Gray)</td>
                    <td>$39.99</td>
                    <td>261</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short4.jfif" alt=""></td>
                    <td>Men's Nike short</td>
                    <td>$29.99</td>
                    <td>314</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short5.jfif" alt=""></td>
                    <td>Men's Summer Short</td>
                    <td>$29.99</td>
                    <td>154</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short6.jpg" alt=""></td>
                    <td>Women's Short (Black)</td>
                    <td>$29.99</td>
                    <td>269</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short8.jpg" alt=""></td>
                    <td>Women's Short (Army Green)</td>
                    <td>$29.99</td>
                    <td>289</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short9.jpg" alt=""></td>
                    <td>Women's Tattered jeans Shorts</td>
                    <td>$36.99</td>
                    <td>75</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
                <tr>
                    <td><img src="~/Media/admin/short10.jpg" alt=""></td>
                    <td>Women's Shorts (Light Blue)</td>
                    <td>$29.99         </td>
                    <td>244</td>
                    <td><a href="#" class="btn">View</a></td>
                    <td><a href="#" class="btn">Edit</a></td>
                    <td><a href="#" class="btn">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>


