<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - @ViewBag.Title</title>
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 5px;
            box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #D19C97;
        }
    </style>
    <!-- Favicon -->
    <link href="~/Media/Hof_png.png" rel="icon">
    <link rel="stylesheet" href="~/Content/adminstyle.css">
</head>
<body>
    <div class="side-menu">
        <div>
            <h1 style="background:white;"><img src="~/Media/HOF.png" style="margin-left:50px;" width="125" height="125" /></h1>
        </div>
        <ul>
            <a href="/Admin/ManageProducts">
            <li>Products</li></a>
            <a href="/Admin/ManageEvents">
            <li>Events</li></a>
            <a href="/Admin/ManageCoupons">
            <li>Coupons</li></a>
            <a href="/Account/AdminLogout">
            <li>Logout</li></a>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <h1>Admin Page - @ViewBag.Title</h1>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
