* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
h1,h2 {
    color: #444;
}
h3 {
    color: #999;
    font-size: medium;
}
.btn{
    background: #D19C97;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table{
    padding: 8px;
}
th,td{
    text-align: left;
    padding: 8px;
}
.btn:hover{
    color: #D19C97;
    background: white;
    padding: 3px 8px;
    border: 2px solid #D19C97;
}
.side-menu {
    position: fixed;
    background: #D19C97;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: white;
    color: #D19C97;
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 45px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .content-2  {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.container .content .content-2 .product-listing {
    padding: 20px 15px;
    height: 600px;
    width: 400px;
    flex: 5;
    justify-content: align;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
    overflow-y: auto;
}
.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 80vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .product-listing table td:nth-child(1) img {
    height: 90px;
    width: 90px;
}
.content-2 .formBx {
    width: 30%;
}
.content-2 .inputbox{
    width: 10%;
    margin-bottom: 30px;
    
}
.content-2 .formBx h2 {
    color: #D19C97;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #D19C97;
    display: inline-block;
    letter-spacing: 1px;
}
.content-2 .formBx .inputBx {
    margin-bottom: 20px;
}
.content-2 .formBx .inputBx span {
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}
.content-2 .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
        outline: none;
        font-weight: 400;
        border: 1px solid #607d8b;
        font-size: 16px;
        letter-spacing: 1px;
        color: #607d8b;
        background: transparent;
        border-radius: 30px;
}
.dropdown {
    width: 30rem;
    position: relative;
}
.dropdown:hover .dropdown-list{
    opacity: 1;
   visibility: visible;
}
.dropdown-select{
    position: relative;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #607d8b;
    width: 50%;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}
.dropdown-list{
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    cursor: pointer;
}
.dropdown-list__item{
    padding: 1rem;
    font-size: 16px;
}
.dropdown-list__item:hover{
    color: #D19C97;
    background: white;
    padding: 10px 20px;
    border: 2px solid #D19C97;
    border-radius: 30px;
}